@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-menu
      &__item
        &:not(:nth-last-child(-n+2))
          margin-right: 20px
    &-button
      padding: 10px 40px
  .reco
    &-wrapper
      grid-template-columns: 700px 1fr
    &-content
      &__background
        width: 700px
        object-fit: cover
  .useful
    &-box
      padding: 5px 15px 5px 15px
  .articles
    &-wrapper
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(6, 170px)
      grid-gap: 20px
  .card
    &-check
      grid-column: 3 / 4
      grid-row: 5 / 6
    &-links
      grid-column: 1 / 2
      grid-row: 5 / 6
    &-tags
      grid-column: 3 / 4
      grid-row: 3 / 5
    &-short
      &--second
        grid-column: 2 / 3
        grid-row: 5 / 6
      &--fourth
        grid-column: 1 / 2
        grid-row: 6 / 7
@media (max-width: 992px)
  .container
    max-width: 760px
  .logo
    &-header
      max-width: 143px
  .navbar
    &-menu
      &__item
        &:not(:nth-last-child(-n+2))
          margin-right: 10px
    &-button
      padding: 10px 20px
      font-size: 12px
      line-height: 14px
  .modal
    &__dialog
      width: 87%
  .reco
    &-wrapper
      grid-template-columns: 500px 1fr
    &-content
      &__background
        width: 500px
        object-fit: cover
    &-title
      max-width: 430px
      font-size: 30px
      line-height: 40px
  .useful
    &-wrapper
      flex-wrap: wrap
      justify-content: center
    &-box
      padding: 5px 50px 5px 50px
      border-right: none
      &:nth-child(odd)
        border-right: 1px solid #3d434a
      &:nth-child(-n+2)
        border-bottom: 1px solid #3d434a
  .articles
    &-wrapper
      grid-template-rows: repeat(6, 210px)
      grid-gap: 20px
  .card
    &-main
      grid-column: 1 / 4
      grid-row: 1 / 3
    &-check
      grid-column: 2 / 3
      grid-row: 6 / 7
    &-popular
      grid-column: 3 / 4
      grid-row: 5 / 7
    &-tags
      &__tag
        margin-bottom: 10px
        &:last-child
          margin-right: 0
        &:nth-child(8)
          margin-right: 6px
        &:nth-child(12)
          margin-bottom: 10px
  .investigation
    &-title
      font-size: 30px
      line-height: 40px
@media (max-width: 768px)
  .header
    &--mobile
      &--fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99
  .container
    max-width: 576px
    width: 87%
  body
    padding-top: 65px
  .navbar
    &-menu
      display: none
      position: fixed
      left: 0
      top: 65px
      right: 0
      bottom: 0
      background-color: $dark
      &--visible
        display: block
      &__list
        flex-direction: column
        align-items: center
      &__item
        margin-bottom: 20px
        &:not(:nth-last-child(-n+2))
          margin-right: 0
        &--mobile
          &--visible
            display: flex
    &-button
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
  .menu
    &-button
      width: 20px
      height: 15px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      background-color: $dark
      border: none
      cursor: pointer
      &__line
        width: 20px
        height: 1px
        background-color: $light
  .reco
    &-wrapper
      grid-template-columns: 70% 30%
    &-content
      &__background
        width: 70%
        object-fit: cover
    &-author
      left: 20px
    &-theme
      left: 20px
    &-title
      left: 20px
      width: 50%
      font-size: 16px
      line-height: 20px
    &-button
      left: 20px
    &-tabs
      &__title
        margin: 20px auto 19px auto
        font-size: 8px
        line-height: 10px
      &__item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        min-height: 103px
        &-title
          margin: 0
          font-size: 8px
          line-height: 10px
        &-description
          display: none
  .useful
    &-box
      padding: 10px 30px 10px 30px
      border-bottom: 1px solid #3d434a
      &:nth-child(odd)
        border-right: none
      &:last-child
        border-bottom: none
  .articles
    &-wrapper
      display: flex
      flex-direction: column
  .card
    &-instruments
      &__image
        object-fit: cover
    &-links
      &__images
        justify-content: space-evenly
  .investigation
    &-title
      font-size: 20px
      line-height: 30px
@media (max-width: 576px)
  .card
    &-main
      &__general
        flex-direction: column
      &__image
        margin-left: auto
      &__info
        padding-right: 20px
        &-about
          margin-bottom: 0
      &__author
        padding: 12px 10px 13px 10px
        &-cite
          font-size: 10px
          line-height: 12px
          &--bold
            font-weight: 900
            font-size: 10px
            line-height: 12px
