@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Black.eot') format('embedded-opentype'),
  url('../fonts/Lato-Black.woff') format('woff'),
  url('../fonts/Lato-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Heavy.eot') format('embedded-opentype'),
  url('../fonts/Lato-Heavy.woff') format('woff'),
  url('../fonts/Lato-Heavy.ttf') format('truetype')
  font-weight: 900
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-HeavyItalic.eot') format('embedded-opentype'),
  url('../fonts/Lato-HeavyItalic.woff') format('woff'),
  url('../fonts/Lato-HeavyItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Regular.eot') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap
*
  box-sizing: border-box
body
  font-family: "Lato", sans-serif
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
.visually-hidden
  position: absolute
  clip: rect(0 0 0 0)
  width: 1px
  height: 1px
  margin: -1px
