.header
  background-color: $dark
.logo
  &-header
    height: 40px
.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 15px
  padding-bottom: 490px
  &-menu
    &__list
      display: flex
      justify-content: space-between
      list-style: none
      margin: 0
      padding: 0
    &__item
      &:not(:last-child)
        margin-right: 30px
    &__link
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      text-decoration: none
      color: $light
  &-button
    padding: 9px 65px 10px 65px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    text-transform: uppercase
    background-color: #656B70
    color: $light
    border: none
    border-radius: 10px
